BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
API_KEY=
MODEL="qwen3.6-flash"

EMBEDDING_MODEL=text-embedding-v4

CHROMA_HOST=api.trychroma.com
CHROMA_API_KEY=
CHROMA_TENANT=
CHROMA_DATABASE=
CHROMA_COLLECTION=